@import "normalize/import-now";

$backgroundColor: rgb(255, 219, 219);
$highlightColor: rgb(255, 184, 184);
$successColor: rgb(134, 228, 126);
$dotColor: #b8d4fe;

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $backgroundColor;
  font-size: 1.2rem;
  color: black;
}

.content-padding {
  padding: 0 20px;
}

.full-height-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  margin: 0;
}

.tester {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

iframe {
  background-color: white;
  transition: all 0.2s;
}

ul.horizontal {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul.horizontal li {
  margin-right: 20px;
}

.optional {
  opacity: 0.2;
}
.optional:hover {
  opacity: 1;
}

.readme-container {
  max-width: 900px;
  padding-top: 50px;
  margin: 0 auto;
}

hr {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  height: 0;
  background-color: transparent;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
}

code {
  padding: 0px 6px;
  background-color: $highlightColor;
  border-radius: 4px;
  
  .copy & {
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      pointer-events: none;
      opacity: 0;
      transform: translateX(-50%) translateY(20px) rotateZ(0);
      transition: transform 0.3s, opacity 0.3s;
      font-family: Helvetica, Arial, sans-serif;
      background-color: $successColor;
      border-radius: 4px;
    }
    
    &.copied {
      position: relative;
      
      &::after {
        content: 'copied!';
        transform: translateX(-50%) translateY(0px) rotateZ(0);
        opacity: 1;
      }
    }
  }
}

.pill {
  padding: 1rem 2rem;
  display: inline-block;
  background-color: $highlightColor;
  align-self: flex-start;
  border-radius: 999px;
}

button {
  background-color: $highlightColor;
  border-radius: 999px;
  border: none;
  outline: none;
  padding: 6px 20px;
  position: relative;
  height: 40px;
  padding-left: 50px;
  margin-right: 10px;

  &:after {
    content: '→';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $dotColor;
    left: 0px;
    top: 0;
    border-radius: 999px;
    text-align: center;
    line-height: 40px;
  }

  &:hover {
    background-color: rgb(244, 173, 173);
    &:after {
      background-color: darken($dotColor, $amount: 5)
    }
  }

  &:active {
    background-color: rgb(215, 136, 136);
    &:after {
      background-color: darken($dotColor, $amount: 8)
    }
  }
}

.buttons {
  margin: 20px 0;
}

pre {
  padding: 15px 15px;
  background-color: $highlightColor;
  border-radius: 4px;
  display: inline-block;
}

.card pre, .card code {
  background-color: $backgroundColor;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.card {
  padding: 30px;
  background-color: rgb(240, 194, 194);
  border-radius: 30px;
  margin: 40px 0;

  &>:first-child {
    margin-top: 0;
  }

  &>:last-child {
    margin-bottom: 0;
  }
}